.navbar {
  padding: 15px;
  text-align: center;
  background: #f4f4f4;
  border-bottom: 2px solid #ddd;
}

.navbar a {
  text-decoration: none;
  color: #2575fc;
  font-weight: bold;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #6a11cb;
}
